[run]
source = .
omit = 
    */migrations/*
    */tests/*
    */settings/*
    */__init__.py
    */admin.py
    */apps.py
    */urls.py
    manage.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError 