{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ====================================
———	SEARCH RESULT
===================================== -->
<section class="pt-3 pb-3">
    <div class="container">
        <h2>Libraries</h2>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="container my-4">
                <ul class="list-group">
                    {% for library in libraries %}
                    <li class="list-group-item d-flex justify-content-between">
                        {{ library.user.username }}'s library - <strong> {{ library.name }} </strong> <span class="text-end">
                        <a href="{% url 'library_detail' library.id %}">visit</a></span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block extra_js %}
    <script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock extra_js %}