{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ====================================
———	SEARCH RESULT
===================================== -->
<section class="pt-3 pb-3">
    <div class="container">
        <h2>{{ library.user.username }}'s library</h2>
    </div>
</section>

<section class="pb-5">
    <div class="container">

        <div class="row">
            <div class="container my-4">
                <ul class="list-group">
                    {% for file in files %}
                    <li class="list-group-item d-flex justify-content-between">
                        {{ file.title }} / {{ file.author }}
                        <span class="text-end"> <a href="{% url 'file_detail' file.id %}">open</a></span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block extra_js %}
    <script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock extra_js %}