{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ====================================
———	SEARCH RESULT
===================================== -->
<section class="pt-3 pb-3">
    <div class="container">
        <h2>Your Library</h2>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="mb-4">
            {% for tag in tags %}
                <a href="{% url 'events_tag' tag.id %}" class="badge bg-light">{{ tag.name }}</a>
            {% endfor %}
        </div>

        <div class="row">
            <div class="container my-4">
                <ul class="list-group">
                    {% for file in library_files %}
                        <li class="list-group-item d-flex justify-content-between">
                            {{ file.title }} / {{ file.edition }} / {{ file.year }} / {{ file.author }}
                            <span class="text-end"><a href="{% url 'file_detail' file_id=file.pk %}">Details</a></span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="d-flex justify-content-center mb-4">
            <a href="{% url 'file_upload' %}"><h4 class="text-warning">Upload a Document</h4></a>
        </div>
        <div class="d-flex justify-content-center mb-4">
            <a href="#"><h4 class="text-warning">Interact with you library with AI</h4></a>
        </div>
        <div class="d-flex justify-content-center mb-4">
            <a href="#"><h4 class="text-warning">Certify your documents with descentralized AI and send them to the blockchain</h4></a>
        </div>
    </div>
</section>
{% endblock content %}
