{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="pt-3 pb-3">
    <div class="container">
        <h2>Academia Blockchain: Decentralizing Education for the Future</h2>
    </div>
</section>
    
<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="container my-4">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        Integrates with Kandra to enable efficient searching through users' libraries
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        Utilizes Unstoppable Domains to facilitate cryptocurrency payments for teachers.
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        Archives education certificates on the blockchain for secure and verifiable storage.
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        Allows users to hash documents and record the hash on the blockchain, ensuring data integrity.
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        Enables users to upload documents to the InterPlanetary File System (IPFS) and store the corresponding Content Identifier (CID) on the blockchain.
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        Distributes ACBC tokens as rewards to users, incentivizing participation and engagement.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
    
{% endblock content %}
