{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <link href="{% static 'assets/css/tag-basic-style.css' %}" id="option_style" rel="stylesheet">
{% endblock extra_head %}

{% block content %}
    <section class="py-8 py-md-10">
    <div class="container">
    <div class="row">
    <div class="col-sm-8 offset-lg-2 col-lg-8">
         <div class="bg-warning rounded-top p-2">
            <h3 class="text-white font-weight-bold mb-0 ml-2">Create, Share</h3>
          </div>
    <div class="mb-4 mb-sm-0">
        <hr>
    {% if profile.email_confirmed %}
        <form method="post" id="event_create_form" role="form" action="{% url 'event_create' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="event_type_description">
                        What do you want to create?
                    </label>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="event_type_description" id="radio_pre_recorded" value="PRE_RECORDED">
                      <label class="form-check-label" for="radio_pre_recorded">
                        Pre-Recorded Course - <strong>You have already recorded the course.</strong>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="event_type_description" id="radio_live_course" value="LIVE_COURSE">
                      <label class="form-check-label" for="radio_live_course">
                        Online Course - <strong>You will give the course.</strong>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="event_type_description" id="radio_exam" value="EXAM">
                      <label class="form-check-label" for="radio_exam">
                        Exam - <strong>You will assess knowledge.</strong>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="event_type_description" id="radio_event" value="EVENT">
                      <label class="form-check-label" for="radio_event">
                        Event - <strong>A conference, a conversation, a masterclass is coming up.</strong>
                      </label>
                    </div>
                </div>

                <div class="form-check" id="event_recurrent">
                    <input type="checkbox" class="form-check-input" name="is_recurrent" id="event_recurrent_check"/>
                    <label class="form-check-label" for="event_recurrent_check">
                        Recurrent Event - <strong>An event that repeats itself over and over...</strong>
                    </label>
                </div>
            </div>
            <div class="col-md-4 form_img">
                <img id="diamante_amarillo" title="Course" src="{% static 'assets/img/diamante_amarillo.png' %}" class="diamond_form" alt="Live Course" width="20px">
                <img id="diamante_azul" title="Exam" src="{% static 'assets/img/diamante_azul.png' %}" class="diamond_form" alt="Exam" width="20px">
                <img id="diamante_magenta" title="Pre-Recorded" src="{% static 'assets/img/diamante_magenta.png' %}" class="diamond_form" alt="Pre-recorded Course" width="20px">
                <img id="diamante_verde" title="Event" src="{% static 'assets/img/diamante_verde.png' %}" class="diamond_form" alt="Event" width="20px">
            </div>
            </div>

            <hr>

            <div class="form-group">
                <label for="title">
                    Title*
                </label>
                <input type="text" class="form-control" id="title" name="title"/>
            </div>
            <div class="form-group">
                <label for="description">
                    Description*
                </label>
                <textarea class="form-control" id="description" rows="7" name="description" placeholder="Who is the event aimed at? What is its target audience?"></textarea>
            </div>

            <div class="form-group">
                <label for="platform_select">
                    Platform
                </label>
                <select class="custom-select" id="platform_select" name="platform">
                    {% for platform in platforms %}
                        <option value="{{ platform.id }}">{{ platform.name }}</option>
                    {% endfor %}
                </select>
                <small class="form-text text-muted">
                    What platform will you use to share the course/event?
                </small>
            </div>

            <div class="form-group">
                <label for="other_platform">
                    Another Platform
                </label>
                <input type="text" class="form-control" id="other_platform" name="other_platform" placeholder="If applicable, specify another platform used"/>
            </div>

            <div class="form-group">
                <label for="date_start">
                    Start Date
                </label>
                <input type="text" class="form-control" id="date_start" name="date_start" placeholder="YYYY-MM-DD HH:MM:SS"/>
            </div>

            <div class="form-group">
                <label for="date_end">
                    End Date
                </label>
                <input type="text" class="form-control" id="date_end" name="date_end" placeholder="YYYY-MM-DD HH:MM:SS"/>
            </div>

            <div class="form-group">
                <label for="date_recorded">
                    Recording Date
                </label>
                <input type="text" class="form-control" id="date_recorded" name="date_recorded" placeholder="YYYY-MM-DD HH:MM:SS"/>
            </div>

            <div class="form-group">
                <label for="schedule_description">
                    Schedule Details
                </label>
                <input type="text" class="form-control" id="schedule_description" name="schedule_description" placeholder="Additional details about the schedule (optional)"/>
            </div>

            <button type="submit" class="btn btn-primary">
                Create
            </button>
        </form>

        <hr>

        <p>
            *Remember that in your <a href="{% url 'profile_data' %}">profile</a>, you can define your preferred cryptocurrencies and the methods by which people can contact you.
            {% if user_contact_methods %}
                Currently, these are:
                {% for c in user_contact_methods %}
                    {% if not c.deleted %}
                        "{{ c.name }}"
                    {% endif %}
                {% endfor %}
            {% else %}
                <strong>You currently have no saved contact methods; it is important that you share a way to contact you!</strong>
            {% endif %}
        </p>
    {% else %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>Hello!</strong> Please confirm the email associated with your account ({{ user.email }}) to create an event:
            <a href="{% url 'resend_activation_email' %}" class="alert-link">Resend confirmation email</a>.
        </div>
    {% endif %}
    </div>
    </div>
    </div>
    </div>
    </section>
{% endblock content %}