{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ====================================
———	SEARCH RESULT
===================================== -->
<section class="pt-3 pb-3">
    <div class="container">
        <h2>Recent Activity</h2>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="mb-4">
            {% for tag in tags %}
                <a href="{% url 'events_tag' tag.id %}" class="badge bg-light">{{ tag.name }}</a>
            {% endfor %}
        </div>

        <div class="row">
            <div class="container my-4">
                <ul class="list-group">
                    {% for event in events %}
                    <li class="list-group-item d-flex justify-content-between">
                        <a class="text-warning text-capitalize d-block" href="{% url 'event_detail' event.id %}">{{ event.title }}</a>
                        <small> by {{ event.owner.username }}</small>
<!--                        <span class="text-end">BTC, ETH/span>-->
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

        <div class="d-flex justify-content-center mb-4">
            <a href="{% url 'events_all' %}"><h4 class="text-warning">Ver Todo</h4></a>
        </div>
    </div>
</section>
{% endblock content %}

{% block extra_js %}
    <script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock extra_js %}
