{% extends 'profiles/profile_base.html' %}

{% block profile_content %}


<div class="col-md-8 col-lg-9 order-md-1">
    <div class="row">
				<div class="row">
                    <div class="media media-avator-view flex-column flex-sm-row">
                      <div class="media-body">
                             <span class="text-muted font-size-15 mb-1 d-block">
                                 Save content to your personal library, send it to the blockchain and interact with it using AI.
                             </span>
                      </div>
                    </div>
                <div class="media media-avator-view flex-column flex-sm-row">
                      <div class="media-body">
                          <hr>
                         <span class="text-muted font-size-15 mb-1 d-block">
                             LIBRARY SETTINGS
                         </span>
                      </div>
                </div>
		</div>
	</div>
</div> <!-- element wrapper ends -->

{% endblock profile_content %}
