{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="pt-3 pb-3">
    <div class="container">
        <h2>Academia Blockchain uses Sophia.AI</h2>
    </div>
</section>
    
<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="container my-4">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        To save education certificates on the blockchain.
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        To manage cryptocurrency payments for courses and library access.
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        To save document hashes to the blockchain, hence providing proof of existance.
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        To validate documents with descentralized AI calls. 
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        To provide the functionality of interactive conversations with libraries. 
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
    
{% endblock content %}
